
.fa {
  font-size: 25px;
  padding-right: 10px;
}
.list-group-item {
  background-color: #000000 !important;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: #FFFFFF !important;
}
.list-group-item-dark {
  background-color: #242526 !important;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: #FFFFFF !important;
}
